<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright  2020 The BtrPlace Authors. All rights reserved.
  ~ Use of this source code is governed by a LGPL-style
  ~ license that can be found in the LICENSE.txt file.
  -->

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="off">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>