# Workflow to perform CI on scheduler.
# This includes the compilation, the testing and the generation of code coverage report.

name: Continuous Integration
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  continuous-integration:
    runs-on: ubuntu-latest

    # The different steps
    steps:
      - uses: actions/checkout@v2
      - name: Set up open JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
          cache: maven

      # Regression tests
      - name: Test
        run: mvn --batch-mode test

      # Update coverage report.
      - name: Run codacy-coverage-reporter
        uses: codacy/codacy-coverage-reporter-action@v1
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: api/target/site/jacoco/jacoco.xml,json/target/site/jacoco/jacoco.xml,choco/target/site/jacoco/jacoco.xml
